### Week 06_Preprocessing
### Natural gas prices 
### https://datahub.io/core/natural-gas#resource-monthly
### Dataset contains Monthly prices of Natural gas, starting from January 1997 to current year. Prices are in nominal dollars. Time series of major Natural Gas Prices including US Henry Hub. Data comes from U.S. Energy Information Administration EIA Data Dataset contains Monthly prices of Natural gas, starting from January 1997 to current year.

### In this dataset the  feature column is Month and the target column is Price

In [19]:
# Import necessary libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, f1_score, accuracy_score, recall_score, precision_score, roc_auc_score, confusion_matrix, r2_score, ConfusionMatrixDisplay
from sklearn.utils import resample
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

In [20]:
# Load the dataset
Dataset = pd.read_csv(r'rr.csv')

### From the above, I have taken Dataset as the variable and imported the data from the csv file through pd.read_csv command

In [21]:
Dataset.head()

   Unnamed: 0       Month  Price
0           0  1997-01-01   3.45
1           1  1997-02-01   2.15
2           2  1997-03-01   1.89
3           3  1997-04-01   2.03
4           4  1997-05-01   2.25

### From the above, I have pulled up the initial rows of the Dataset

In [22]:
Dataset.columns

Index(['Unnamed: 0', 'Month', 'Price'], dtype='object')

### From the above, I have looked for column names

In [23]:
Dataset.dtypes

Unnamed: 0      int64
Month          object
Price         float64
dtype: object

### Above, looked for data types of the columns in the data set

In [24]:
# Data cleaning and preprocessing
Dataset = Dataset[['Month', 'Price']]
Dataset.dropna(inplace=True)

### Above, I have aimed to implement data cleaning and preprocessing by looking for any missisng values from the table and dropping them accordingly

### Splitting the data

In [25]:
# Split the data into X and y
X = Dataset[['Month']]
X
y = Dataset['Price']
y

0      3.45
1      2.15
2      1.89
3      2.03
4      2.25
       ...
279    1.74
280    1.75
281    1.63
282    1.77
283    2.30
Name: Price, Length: 284, dtype: float64

### Changing the data type of the date column in order to perform train and test the data

In [26]:
Dataset['date_column'] = pd.to_datetime(Dataset['Month'])

In [29]:
Dataset.to_csv('rr.csv')